pipeline/childpipeline_Orchestration_1.json
{
	"name": "childpipeline_Orchestration_1",
	"properties": {
		"activities": [
			{
				"name": "LKUP_MAX_VALUE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat(\n'SELECT MAX(', pipeline().parameters.WatermarkColumn, ') AS MaxValue FROM ',\npipeline().parameters.TableSchema, '.', \npipeline().parameters.TableName)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LKUP_MAX_VALUE",
						"type": "DatasetReference",
						"parameters": {
							"TableSchema": {
								"value": "@pipeline().parameters.TableSchema",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "IF_NEW_RECORD_EXIST",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKUP_MAX_VALUE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(pipeline().parameters.LastLoadValue, null),\ngreater(int(activity('LKUP_MAX_VALUE').output.firstRow.MaxValue), int(pipeline().parameters.LastLoadValue)))​",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "COPY_SQL_FULLINCREMENTAL_LOAD",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ', \n   pipeline().parameters.TableSchema, '.', \n   pipeline().parameters.TableName, \n    if(equals(pipeline().parameters.LastLoadValue, null), '', \n        concat(' WHERE ', pipeline().parameters.WatermarkColumn,' > ''', pipeline().parameters.LastLoadValue, '''')\n    )\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_LKUP_MAX_VALUE",
									"type": "DatasetReference",
									"parameters": {
										"TableSchema": {
											"value": "@pipeline().parameters.TableSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQLTABLE_PARQUET1",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "EXEC_UPDATE_WATERMARK_TABLE",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "COPY_SQL_FULLINCREMENTAL_LOAD",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "chilepipeline_stored_procedure",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableSchema": {
										"value": "@pipeline().parameters.TableSchema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"WatermarkColumn": {
										"value": "@pipeline().parameters.WatermarkColumn",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableSchema": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			},
			"WatermarkColumn": {
				"type": "string"
			},
			"LastLoadValue": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-31T15:47:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}